:root {
    --main-background: #F5F7FA;
    --header-background: #9dc9f9;
    --app-container-bg: #e7e4e4;
    --searchbar-border: #337d83;
    --current-weather-background: #dff2bb;
    --forecast-weather-background: #f3e0c5;
    --forecast-day-background: #fff;
    --footer-bg: #b7c7ca;
    --black: #000;
}

html{
    font-size: 16px;
}

body{
    background-image: url("https://github.com/InfX2243/drizzletron/blob/main/assets/background.png");
}

header{
    width: 30%;
    font-size: 2.5rem;
    color: var(--black);
    background: var(--header-background);
    margin: 20 auto;
    text-align: center;
    padding: 10 0;
}

.app-container{
    width: 70%;
    margin: auto;
    background: radial-gradient(circle, white, transparent);
    padding: 1em 0;
}

.searchbar{
    margin: auto;
    padding: 1em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar div{
    margin: 0 10;
}

.input-container{
    width: 70%;
}

.current-weather{
    display: flex;
    margin: 5 auto auto;
    background: var(--current-weather-background);
    justify-content: center;
    width: 85%;
    align-items: center;
    padding: 10 0;
    flex-wrap: wrap;

}

.current-weather div{
    margin: 0 10;
}

.current-weather-img{
    border: 1px solid var(--black);
}

.forecast{
    margin: 20 auto;
    justify-content: center;
    background: var(--forecast-weather-background);
    width: 85%;
    padding: 5 0;
}

.forecasts-container{
    display: flex;
    justify-content: center;
    margin: 20 auto;
    flex-wrap: wrap;
}

.day-forecast{
    display: flex;
    justify-content: center;
    background: var(--forecast-day-background);
    margin: auto 15;
    text-align: center;
    padding: 5;
}

.day-forecast div{
    margin: 3 auto;
}

.day-forecast img{
    border: 1px solid var(--black);
    background: transparent;
}

footer{
    width: 25%;
    /* font-size: 2.5rem; */
    color: var(--black);
    margin: 20 auto;
    text-align: center;
    padding: 5 0;
    /* background: radial-gradient(circle, yellow, transparent); */
    background: var(--footer-bg);
}

@media (min-width: 400px) and (max-width: 800px) {
    html{
        font-size: 12px
    }
    header{
        font-size: 1rem;
    }

}