:root {
    --main-background: #F5F7FA;
    --header-background: #9dc9f9;
    --app-container-bg: #e7e4e4;
    --searchbar-border: #337d83;
    --current-weather-background: #dff2bb;
    --forecast-weather-background: #f3e0c5;
    --forecast-day-background: #fff;
    --footer-bg: #b7c7ca;
    --black: #000;
    --white: #fff;
}

.dark {
  --main-background: #1a1c1e;
  --header-background: #264b6a;
  --app-container-bg: #2a2a2a;
  --searchbar-border: #79d3d8;
  --current-weather-background: #387d00;
  --forecast-weather-background: #826746;
  --forecast-day-background: #3a1111;
  --footer-bg: #2b2b2b;
  --black: #fff;
  --white: #707070;
}

html{
    font-size: 16px;
}

body{
    background-image: url("https://raw.githubusercontent.com/InfX2243/drizzletron/refs/heads/main/assets/background.jpg");
}

header{
    width: 30%;
    font-size: 2.5rem;
    color: var(--black);
    background: var(--header-background);
    margin: 20 auto;
    text-align: center;
    padding: 10 0;
}

.app-container{
    width: 70%;
    margin: auto;
    background: radial-gradient(circle, var(--white), transparent);
    padding: 1em 0;
    color: var(--black);
}

.searchbar{
    margin: auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar div{
    margin: 0 10;
}

.input-container{
    width: 70%;
}

.current-weather{
    display: flex;
    margin: 5 auto auto;
    background: var(--current-weather-background);
    justify-content: center;
    width: 85%;
    align-items: center;
    padding: 10 0;
    flex-wrap: wrap;
}

.current-weather div{
    margin: 0 10;
}

.current-weather-img{
    border: 1px solid var(--black);
}

.forecast{
    margin: 20 auto;
    justify-content: center;
    background: var(--forecast-weather-background);
    width: 85%;
    padding: 5 0;
}

.forecasts-container{
    display: flex;
    justify-content: center;
    margin: 20 auto;
    flex-wrap: wrap;
}

.day-forecast{
    display: flex;
    justify-content: center;
    background: var(--forecast-day-background);
    margin: auto 15;
    text-align: center;
    padding: 5;
}

.day-forecast div{
    margin: 3 auto;
}

.day-forecast img{
    border: 1px solid var(--black);
    background: transparent;
}

footer{
    width: 25%;
    /* font-size: 2.5rem; */
    color: var(--black);
    margin: 20 auto;
    text-align: center;
    padding: 5 0;
    background: var(--footer-bg);
}

@media (max-width: 600px) {
    html{
        font-size: 10px
    }
    header{
        width: 50%;
        font-size: 2rem;
    }

    .app-container{
        width: 85%;
        padding: 0.5em 0;
    }

    .searchbar div{
        margin: 0 3;
    }

    .current-weather{
        font-size: 140%;
    }

    .current-weather div{
        margin: 3 auto;
    }

    .forecasts-container{
        /* padding: 0; */
        flex-direction: column;
        margin: 10;
    }

    .day-forecast{ 
        margin: 3;  
    }

    .day-forecast div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        font-size: 120%;
    }

}